.results {
    font-size: 2rem;
    margin: 1rem;
}

.players-table {
    margin: 2rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.global {
    font-size: 1.7rem;
    padding: 1rem;
}

.global-mark {

    font-size: 1rem;
    margin: 1rem 0;
    border: 1px solid rgba(128, 128, 128, 0.541);
    padding: .5rem;

    b {
        display: block;
        margin: .5rem 0;
    }

}

.personal {

    font-size: 1.7rem;
    padding: 1rem;

}

.personal-mark {

    font-size: 1rem;
    margin: 1rem 0;
    border: 1px solid rgba(128, 128, 128, 0.541);
    padding: .5rem;
}

button {
    font-size: 1.5rem;
    padding: .5rem;
    margin-bottom: 2rem;
    outline: none;
    border: 1px solid black;    

    &:hover {
        cursor: pointer;
        background-color: rgb(56, 55, 55);
        color: white; 
    }
}