nav {
    
    margin-bottom: 3rem;

    a {
        text-decoration: none;
        margin: .2rem;
        padding: 1rem;
        color: inherit;
    }

    a:hover, a:active, a:visited {
        color: inherit;
    }

    a:hover:not(.active) {
        border: 1px solid rgb(97, 97, 97);
    }

    .active {
        border: 2px solid rgb(97, 97, 97);
    }

    @media (max-width: 650px) {
        &> * {
          display: block;
        }
    }

}

